
.button{
    outline: none;
    box-shadow: none;
    border: none;
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color:#f5f5f5;
    font-size:16px;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
    border-bottom: solid 4px #383a3d;
    min-width: 100px;
    font-family: cursive;
}

.button:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    cursor: pointer;
    font-weight: bolder;
    color:white;
    transform:scale(1.1,1);
    -webkit-transform:scale(1.1,1);
    -moz-transform:scale(1.1,1);
}

.button:active {/*on Click*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    border-bottom: none;/*disappears*/
}


.green {
    background-image: -webkit-linear-gradient(45deg, #17bd0d 0%, #109906 100%);
    background-image: linear-gradient(45deg, #17bd0d 0%, #109906 100%);
}

.green:hover {
    background-image: -webkit-linear-gradient(45deg, #17bd0d 0%, #0d7506 100%);
    background-image: linear-gradient(45deg, #17bd0d 0%, #0d7506 100%);
    font-weight: bolder;
}

.red {
    background-image: -webkit-linear-gradient(45deg, #ff0000 0%, #db0707 100%);
    background-image: linear-gradient(45deg, #ff0000 0%, #db0707 100%);
}

.red:hover {
    background-image: -webkit-linear-gradient(45deg, #ff0000 0%, #bf0808 100%);
    background-image: linear-gradient(45deg, #ff0000 0%, #bf0808 100%);
    font-weight: bolder;
}

.blue {
    background-image: -webkit-linear-gradient(45deg, #9ecaed 0%, #4c90c7 100%);
    background-image: linear-gradient(45deg, #9ecaed 0%, #4c90c7 100%);
}

.blue:hover {
    background-image: -webkit-linear-gradient(45deg, #9ecaed 0%, #1f6aa6 100%);
    background-image: linear-gradient(45deg, #9ecaed 0%, #1f6aa6 100%);
    font-weight: bolder;
}